.heroSection {
    margin-top: 20px;
}


.scrollableContainer {
    overflow-x: scroll;
}

.scrollableContainer::-webkit-scrollbar {
    display: none;
}

.heroContent {
    font-size: 48px;
}

.description, .heroContent {
    color: #333;
    z-index: 3;
    transition: opacity 1s ease-in-out;
}

.description {
    font-weight: 500;
    margin-bottom: 20px;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.text {
    text-align: justify;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 40px;
}

.images {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px solid #fff;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.headerTextPart {
    text-align: left;
}

.feedbackButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-wrap-mode: nowrap;
}

.feedbackButton:hover {
    background-color: #444;
}

@media screen and (max-width: 1024px) {
    .heroSection {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .heroSection {
        width: 90%;
        margin-top: 0;
    }

    .headerContainer {
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .heroSection {
        width: 100%;

    }

    .imageContainer {
        padding: 10px;
    }

    .text {
        margin-bottom: 20px;
    }
}