.contactSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    width: 90%;
    margin: auto;
}

.mapContainer {
    width: 50%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    border-radius: 24px;
}

.textContact {
    width: 60%;
}

.hint {
    font-size: 16px;
    color: #E68943;
    font-weight: 600;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.sectionDescription {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.iconLinks {
    display: flex;
    justify-content: center;
}

.iconLinks > * {
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .contactSection {
        flex-direction: column;
    }

    .mapContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .textContact {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .sectionDescription {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .contactSection {
        padding: 40px 0px;
    }
}