.login {
  position: absolute;
  top: 0px;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Aligns children vertically */
  justify-content: space-between; /* Spreads out children */
  background: #333333;
  color: white;
  height: 100vh;
  width: 100%;
  padding: 30px;
}

.leftCarousel {
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
}

.slideImage {
  height: 100%;
}

.slideContent {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Text Overlay */
.textOverlay {
  position: absolute;
  top: 3rem;
  left: 3rem;
  padding: 15px 20px;
  border-radius: 8px;
}

.textOverlay h2 {
  color: white;
  font-size: 46px;
  font-weight: bold;
  line-height: 50px;
}

.rightContent {
  width: 48%;
  height: 100%;
}

/* Right Side - Sign Up Section */
.rightContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

.rightContent * {
  color: white;
}

.headerContainer {
  max-width: 400px;
  text-align: center;
}

.headerText {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginOp {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
}

.loginLink {
  color: #ff6738;
  text-decoration: none;
  font-weight: bold;
}

.loginForm {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #555;
  background: #222;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.checkbox {
  margin-right: 10px;
}

.termsLink {
  color: #ff6738;
  text-decoration: none;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background: #ff6b00;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.orDivider {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  opacity: 0.8;
}

.googleButton {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButton img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
